body {
  margin: 0px;
  padding:2em;
	padding: 0px;
	font-family: Century Gothic;
	background-color: fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  padding-bottom: 3em;


}

/*navbar*/
.sidenav{
  position: fixed;
  z-index: 1;

}
/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */

}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home {
  top: 20px;
  background-color: #4CAF50;
}

#placess {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#about {
  top: 140px;
  background-color: #f44336; /* Red */
}

h6{
  margin: 0;
  padding: 0;
}

/*Links*/
a{
  text-decoration: none;
}

a:link, a:visited {
    color: white;

}
a:hover {
	background-color: white;
	color:black;
}

/*places.html*/
#places{
  position: relative;
  margin-top:100px;
  max-width: 1000px;
  margin: 0 auto;
}
.w3-animate-fading{

  height:300px;
  width:500px;
}

.fit{
  width: 100%;
  float: left;
}
.wrapper{
  display: grid;
  grid-template-columns:50% 50%;
  padding:0em 3em 3em 3em;
}
.list{
  max-height: 300px;
  margin-bottom: 14em;
  mrgin

}
.img{
  height:auto;
}
#heading-places{
  font-size: 1.5em;
  margin-bottom: .3em;
  font-family: 'Century Gothic';
  font-weight: bold;
}
 
.info{
  font-size: 100%;
  width: 100%;
  border-style: dashed; 
  padding: 2em;
  line-height: 1.3em;

}
.samar-info{
  margin: 2em 10em;
  display: grid;
  grid-template-columns:1fr 1fr;
  padding:0em 9em;
}

/*Tourist Destinations*/

.imgbox {
  position: relative;
  max-width: 1300px;
  margin:auto;
	border-style: solid;
}
.imgbox h1{
  margin-bottom:-10em;

}
.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top:50px;
  padding:10px;
  top: 50px;
  float:left;

  
}

.image {
  width: 300px;
  height: 300px;

}




/*Animation*/
#showcase h1{
  text-align: left;
  font-size: 50px;
  line-height:1;
  position:relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: maroon;

}
@keyframes heading{
  0%  {left: -50px}
  100%{left: 200px}
}
.container1{
  background: maroon;
  color: white;
  padding: 2em;
  margin: 1em 10em;
  line-height: 1.4em;
  font-size: 1.3em;

}

/*buttons*/
button {
	border: none;
	padding: 0.6em 1.2em;
	background: black;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: white;
	color: black;
}
/*header*/

.tourist{
  font-size: 3em;
}
#title-header{
  background-color: maroon;
  margin-bottom:30px;
  padding:0em;
  height:150px;
  color:gold;
  font-size: 3em;
  font-family: 'Helvetica';
  padding-top:.4em;

}
.logo{
  max-width: 150px;
  margin-right:100px;
  float: left;
}
#title p, #title span{
  font-size: 80%;
  float:right;
  position: relative;
  padding-right: 1em;  
}


/*heading slideshow*/


.slider{
  overflow: hidden;
  width:1366px;
  margin:auto;

}

.slider figure div{
  width: 20%;
  float: left;
}

.slider figure img{
  position: relative;
  width: 100%;
  height: 500px;
  padding:10px;

}

.slider figure{
  position: relative;
  width:500%;
  margin:0;
  left:0;
  animation: 20s slidy infinite;
}

/*places Slider*/
.slider-places{
  overflow: hidden;
  width:400px;
  margin:auto;

}

.slider-places figure div{
  width: 20%;
  float: left;
}

.slider-places figure img{
  position: relative;
  width: 100%;
  height: 300px;
  padding:10px;

}

.slider-places figure{
  position: relative;
  width:500%;
  margin:0;
  left:0;
  animation: 20s slidy infinite;
}



@keyframes slidy{
  0%  {left:0%}
  10% {left:0%}
  12% {left:-100%}
  22% {left:-100%}
  24% {left:-200%}
  34% {left:-200%} 
  36% {left:-300%}
  46% {left:-300%}
  48% {left:-400%}
  58% {left:-400%}
  60% {left:-300%}
  70% {left:-300%}
  72% {left:-200%}
  82% {left:-200%}
  84% {left:-100%}
  94% {left:-100%}
  96% {left:0%}
}


.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
   
@media(max-width:768px){
  .slider{
    width:100vw;
  }
    .slider figure img{
      height: 30vh;
  }
  #title-header{
    font-size: 1.2em;
    height:60px;
  }
  .logo{
    max-width: 50px;
    margin-right:50px;
    float: left;
  }
  #mySidenav a{
    padding:5px;
  }
  #home {
    top: 20px;
  }
  
  #placess {
    top: 80px;
  }
  
  #about {
    top: 47px;
  }
  button{
    background: black;
  }
}
   
   
   
   
  
  
}